<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
  <!-- Serve /api/ content through the guice context listener -->
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
        com.google.tripmeout.frontend.FrontendGuiceServletContextListener
    </listener-class>
  </listener>

  <!-- Filter all requests that don't have a known static content extension.
       This is pretty gross, but I don't have a better solution. -->
  <filter>
    <filter-name>nonStaticExtensionDefaulter</filter-name>
    <filter-class>com.google.tripmeout.ui.NonStaticExtensionDefaulter</filter-class>
    <!-- A comma seperated list of extensions to not filter. -->
    <init-param>
      <param-name>extensions</param-name>
      <param-value>js,jpg,png,css,json</param-value>
    </init-param>
    <!-- A regex of prefixes to ignore (don't serve the default content for). This
         allows us to skip the default content for auth. -->
    <init-param>
        <param-name>ignore-prefix-regex</param-name>
        <param-value>^/_ah/.*</param-value>
    </init-param>
    <!-- The default content to serve for all requests that do not use one of the
         specified extensions. -->
    <init-param>
      <param-name>default-content</param-name>
      <param-value>/index.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>nonStaticExtensionDefaulter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
